<!DOCTYPE html>
<html data-theme="dark">
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <main>

            <section style="margin: auto; width:80%">
                <h3>entrez votre pseudo</h3>
                <form method="post">
                    <input type="text" name="pseudo" placeholder="Pseudo"/>
                    <button type="submit">entrer</button>
                </form>
                {% if error %}<mark>{{ error }}</mark>{% endif %}
            </section>

        </main>



    </body>
</html>