<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Erreur 404</title>
    <style>
        body {
            background-color: #f5be00;
            color: black;
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            padding: 20px;
        }
        h1 {
            font-size: 80px;
        }
        a {
            color: white;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <img src="/static/404.png" alt="404"  style="width: 400px; height: auto;">
        <p>La page que vous recherchez n'existe pas.</p>
        <a href="{{ url_for('accueil') }}">Retour à la page d'accueil</a>
    </div>
</body>
</html>

