<!DOCTYPE html>
<html lang="fr">
<head>
    <style>
       body #liste-des-salons {
		 width: 100%
        }
        
       body #liste-des-salons td {
            border: 1px solid #000;
            padding: 10px;
        }
        
       body #liste-des-salons tr {
            text-align: center;
        }
    </style>
    <meta charset="UTF-8">
    <title>Noix de COCO chat</title>
</head>
<body>
    <center><h1>Noix de COCO chat</h1></center>
    <div><center><h3><b>salons</h3></b></center></div>
        <table id="liste-des-salons">
        		<tr class="ligne">
                    {%for user in data%}
                <tr>
            	 	 <td><a href="/{{ligne in data}}/{{user}}">{{user}}</a></td>
                </tr>
                    {% endfor %}
        </table>
    </div>
</body>
</html>
