    <style>
       body #liste-des-salons {
		 width: 100%
        }
        
       body #liste-des-salons td {
            border: 1px solid #000;
            padding: 10px;
        }
        
       body #liste-des-salons tr {
            text-align: center;
        }
    </style>
